<a href="https://colab.research.google.com/github/PradipNichite/Youtube-Tutorials/blob/main/Python_MySQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp310-cp310-manylinux1_x86_64.whl (27.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.4/27.4 MB 40.3 MB/s eta 0:00:00
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /usr/local/lib/python3.10/dist-packages (from mysql-connector-python) (3.20.3)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.33

In [ ]:
import mysql.connector

# Establish a connection to the database
def create_connection():
    connection = mysql.connector.connect(
        host="",
        user="admin",
        password="Admin123",
        database="yt_demo"
    )
    return connection

In [ ]:
connection = create_connection()
connection

In [ ]:
# Create a sample table
def create_table(connection):
    cursor = connection.cursor()
    cursor.execute("CREATE TABLE IF NOT EXISTS sample (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), age INT)")

In [ ]:
create_table(connection)

In [ ]:
# Insert a record
def insert_record(connection, name, age):
    cursor = connection.cursor()
    query = "INSERT INTO sample (name, age) VALUES (%s, %s)"
    cursor.execute(query, (name, age))
    connection.commit()

In [ ]:
insert_record(connection, "John Doe", 30)
insert_record(connection, "Jane Smith", 28)

In [ ]:
# Select records
def select_records(connection):
    cursor = connection.cursor()
    cursor.execute("SELECT * FROM sample")
    rows = cursor.fetchall()
    for row in rows:
        print(row)

In [ ]:
select_records(connection)

(1, 'John Doe', 30)
(2, 'Jane Smith', 28)

In [ ]:
# Update a record
def update_record(connection, name, age, id):
    cursor = connection.cursor()
    query = "UPDATE sample SET name = %s, age = %s WHERE id = %s"
    cursor.execute(query, (name, age, id))
    connection.commit()

In [ ]:
update_record(connection, "John Doe", 31, 1)
select_records(connection)

(1, 'John Doe', 31)
(2, 'Jane Smith', 28)

In [ ]:
# Delete a record
def delete_record(connection, id):
    cursor = connection.cursor()
    query = "DELETE FROM sample WHERE id = %s"
    cursor.execute(query, (id,))
    connection.commit()
delete_record(connection, 1)

In [ ]:
select_records(connection)

(2, 'Jane Smith', 28)

In [ ]:


# ...

# Insert multiple records
def insert_multiple_records(connection, records):
    cursor = connection.cursor()
    query = "INSERT INTO sample (name, age) VALUES (%s, %s)"
    cursor.executemany(query, records)
    connection.commit()

# Main function to perform all operations


records = [("John1 Doe", 30), ("Jane1 Smith", 28), ("Alice Brown", 24)]
insert_multiple_records(connection, records)

In [ ]:
select_records(connection)

(2, 'Jane Smith', 28)
(3, 'John1 Doe', 30)
(4, 'Jane1 Smith', 28)
(5, 'Alice Brown', 24)